@model prematix.Web.Data.Entities.Pediatra

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del pediatra</h2>

<div>
    <h4>Pediatra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"  type="button" class="btn btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Editar</a> 
    <a asp-action="Index"  type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off">regresar al lista</a>
</div>
